[submodule "profiler/third_party/protobuf"]
	path = profiler/third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "profiler/third_party/boringssl"]
	path = profiler/third_party/boringssl
	url = https://github.com/google/boringssl.git
[submodule "profiler/third_party/cpp-httplib"]
	path = profiler/third_party/cpp-httplib
	url = https://github.com/pyroscope-io/cpp-httplib.git
[submodule "profiler/third_party/cppcodec"]
	path = profiler/third_party/cppcodec
	url = https://github.com/tplgy/cppcodec.git
[submodule "profiler/third_party/nlohmann_json"]
	path = profiler/third_party/nlohmann_json
	url = https://github.com/nlohmann/json.git
