services:
  pyroscope:
    platform: linux/amd64
    image: grafana/pyroscope@sha256:e7edae4fd99dbb8695a1e03d7db96ab247630cf83842407908922b2f66aafc6a
    ports:
      - "4040:4040"

  rideshare-glibc-net-8-0:
    platform: linux/amd64
    ports:
      - "5000"
    environment:
      REGION: us-east
      PYROSCOPE_APPLICATION_NAME: rideshare.dotnet.glibc.8.0.app
      PYROSCOPE_SERVER_ADDRESS: http://pyroscope:4040
      DD_TRACE_DEBUG: true
    image: rideshare-app-glibc:net8.0 # built locally
    pull_policy: never

  rideshare-glibc-net-7-0:
    platform: linux/amd64
    ports:
      - "5000"
    environment:
      REGION: us-east
      PYROSCOPE_APPLICATION_NAME: rideshare.dotnet.glibc.7.0.app
      PYROSCOPE_SERVER_ADDRESS: http://pyroscope:4040
      DD_TRACE_DEBUG: true
    image: rideshare-app-glibc:net7.0 # built locally
    pull_policy: never

  rideshare-glibc-net-6-0:
    platform: linux/amd64
    ports:
      - "5000"
    environment:
      REGION: us-east
      PYROSCOPE_APPLICATION_NAME: rideshare.dotnet.glibc.6.0.app
      PYROSCOPE_SERVER_ADDRESS: http://pyroscope:4040
      DD_TRACE_DEBUG: true
    image: rideshare-app-glibc:net6.0 # built locally
    pull_policy: never

  rideshare-musl-net-8-0:
    platform: linux/amd64
    ports:
      - "5000"
    environment:
      REGION: us-west
      PYROSCOPE_APPLICATION_NAME: rideshare.dotnet.musl.8.0.app
      PYROSCOPE_SERVER_ADDRESS: http://pyroscope:4040
      DD_TRACE_DEBUG: true
    image: rideshare-app-musl:net8.0 # built locally
    pull_policy: never

  rideshare-musl-net-7-0:
    platform: linux/amd64
    ports:
      - "5000"
    environment:
      REGION: us-west
      PYROSCOPE_APPLICATION_NAME: rideshare.dotnet.musl.7.0.app
      PYROSCOPE_SERVER_ADDRESS: http://pyroscope:4040
      DD_TRACE_DEBUG: true
    image: rideshare-app-musl:net7.0 # built locally
    pull_policy: never

  rideshare-musl-net-6-0:
    platform: linux/amd64
    ports:
      - "5000"
    environment:
      REGION: us-west
      PYROSCOPE_APPLICATION_NAME: rideshare.dotnet.musl.6.0.app
      PYROSCOPE_SERVER_ADDRESS: http://pyroscope:4040
      DD_TRACE_DEBUG: true
    image: rideshare-app-musl:net6.0 # built locally
    pull_policy: never

  load-generator:
    platform: linux/amd64
    build:
      context: IntegrationTest
      dockerfile: Dockerfile.load-generator
    environment:
      SERVICE_NAME: $SERVICE_NAME

  grafana:
    image: grafana/grafana:latest@sha256:b0ae311af06228bcfd4a620504b653db80f5b91e94dc3dc2a5b7dab202bcde20
    environment:
      - GF_INSTALL_PLUGINS=grafana-pyroscope-app
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
    volumes:
      - ./IntegrationTest/grafana-provisioning:/etc/grafana/provisioning
    ports:
      - "3000:3000"
