name: Build linux profiler

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read


jobs:
  build-linux-profiler-x86_64:
    runs-on: ubuntu-x64-large
    env:
      DOCKER_BUILDKIT: 1
    strategy:
      fail-fast: false
      matrix:
        name: ['glibc', 'musl']
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          submodules: 'true'
          persist-credentials: false
      - run: RELEASE_VERSION=dev-$(git rev-parse --short HEAD) ARCH=x86_64 LIBC=${{ matrix.name }}  make docker/build
  build-linux-profiler-aarch64:
    runs-on: ubuntu-arm64-large
    env:
      DOCKER_BUILDKIT: 1
    strategy:
      fail-fast: false
      matrix:
        name: ['glibc', 'musl']
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          submodules: 'true'
          persist-credentials: false
      - uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d
        with:
          dotnet-version: '8.0.412'
      - run: RELEASE_VERSION=dev-$(git rev-parse --short HEAD) ARCH=aarch64 LIBC=${{ matrix.name }}  make docker/build
