name: Build linux profiler

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build-linux-profiler:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'true'
      -
        name: Build docker image
        uses: docker/build-push-action@v3
        with:
          tags: test-image:latest
          push: false
          file: ./Pyroscope.Dockerfile
      - name: Build linux profiler
        uses: addnab/docker-run-action@v3
        with:
          image: test-image:latest
          options: -v ${{ github.workspace }}:/project
          run: |
            cd /project
            mkdir build-release
            cd build-release
            cmake .. -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_BUILD_TYPE=Release
            make -j6 Datadog.Profiler.Native Datadog.Linux.ApiWrapper.x64




