name: Build OpenTelemetry and OpenTracing libraries

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]


permissions:
  contents: read

jobs:
  build-opentracing-lib:
    runs-on: ubuntu-x64-small
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'true'
          persist-credentials: false
      - uses: actions/setup-dotnet@131b410979e0b49e2162c0718030257b22d6dc2c
        with:
          dotnet-version: '10.0.100'
      - run: dotnet build -c Release
        working-directory: Pyroscope/Pyroscope.OpenTracing
      - name: Publish NuGet packages
        uses: actions/upload-artifact@v4
        with:
          name: packages-OpenTracing
          path: ./Pyroscope/artifacts/package/release
          if-no-files-found: error
  build-opentelemetry-lib:
    runs-on: ubuntu-x64-small
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'true'
          persist-credentials: false
      - uses: actions/setup-dotnet@131b410979e0b49e2162c0718030257b22d6dc2c
        with:
          dotnet-version: '10.0.100'
      - run: dotnet build -c Release
        working-directory: Pyroscope/Pyroscope.OpenTelemetry
      - name: Publish NuGet packages
        uses: actions/upload-artifact@v4
        with:
          name: packages-OpenTelemetry
          path: ./Pyroscope/artifacts/package/release
          if-no-files-found: error
