name: Release managed helper

on:
  push:
    tags:
      - 'v*'
      - '!v*opentelemetry'
      - '!v*opentracing'

permissions:
  contents: write
  id-token: write

jobs:
  release-managed-helper:
    runs-on: ubuntu-x64-small
    env:
      RELEASE_VERSION: ${{  github.ref_name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'true'
          persist-credentials: false
      - uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309
        with:
          dotnet-version: '10.0.100'
      - run: make bump_version && git diff --exit-code
      - run: dotnet build -c Release
        working-directory: Pyroscope
      - name: Publish NuGet packages
        uses: actions/upload-artifact@v4
        with:
          name: packages
          path: ./Pyroscope/artifacts/package/release
          if-no-files-found: error
      - uses: grafana/shared-workflows/actions/get-vault-secrets@10ecff5fcf764bfa768d7a52b46feaade9c8a95b
        with:
          repo_secrets: |
            NUGET_API_KEY=nuget:api_key
      - name: Publish the package to nuget.org
        run: dotnet nuget push ./Pyroscope/artifacts/package/release/*.nupkg -k "${NUGET_API_KEY}" -s https://api.nuget.org/v3/index.json
        env:
          NUGET_API_KEY: ${{ env.NUGET_API_KEY }}
      - name: Release
        uses: softprops/action-gh-release@da05d552573ad5aba039eaac05058a918a7bf631 # v2.2.2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ./Pyroscope/artifacts/bin/Pyroscope/release/Pyroscope.dll
            ./Pyroscope/artifacts/package/release/Pyroscope*.nupkg
