name: Release linux profiler

on:
  push:
    tags:
      - 'v*'
      - '!v*opentelemetry'
      - '!v*opentracing'
jobs:
  release-linux-profiler-x86_64:
    permissions:
      contents: write
      id-token: write
    runs-on: ubuntu-x64-large
    env:
      DOCKER_BUILDKIT: 1
      ARCH: x86_64
      LIBC: ${{ matrix.name }}
      RELEASE_VERSION: ${{  github.ref_name }}
    strategy:
      matrix:
        name: ['glibc', 'musl']
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          submodules: 'true'
          persist-credentials: false
      - uses: grafana/shared-workflows/actions/get-vault-secrets@f5bed0079a15c2c2ebfec1a76fc3b8e646f7f892
        with:
          repo_secrets: |
            DOCKERHUB_USERNAME=dockerhub:user
            DOCKERHUB_PASSWORD=dockerhub:token
      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        name: Login to Docker Hub
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ env.DOCKERHUB_PASSWORD }}
      - run: make bump_version
      - name: Check version matches committed version
        if: ${{ !contains(github.ref_name, '-rc') }}
        run: git diff --exit-code
      - run: make docker/build
      - run: make docker/push
      - run: make docker/archive
      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: ./*.tar.gz
          make_latest: ${{ !contains(github.ref_name, '-rc') }}
  release-linux-profiler-aarch64:
    permissions:
      contents: write
      id-token: write
    runs-on: ubuntu-arm64-large
    env:
      DOCKER_BUILDKIT: 1
      ARCH: aarch64
      LIBC: ${{ matrix.name }}
      RELEASE_VERSION: ${{  github.ref_name }}
    strategy:
      matrix:
        name: ['glibc', 'musl']
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          submodules: 'true'
          persist-credentials: false
      - uses: grafana/shared-workflows/actions/get-vault-secrets@f5bed0079a15c2c2ebfec1a76fc3b8e646f7f892
        with:
          repo_secrets: |
            DOCKERHUB_USERNAME=dockerhub:user
            DOCKERHUB_PASSWORD=dockerhub:token
      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        name: Login to Docker Hub
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ env.DOCKERHUB_PASSWORD }}
      - run: make bump_version
      - name: Check version matches committed version
        if: ${{ !contains(github.ref_name, '-rc') }}
        run: git diff --exit-code
      - run: make docker/build
      - run: make docker/push
      - run: make docker/archive
      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: ./*.tar.gz
          make_latest: ${{ !contains(github.ref_name, '-rc') }}
  release-linux-profiler:
    permissions:
      contents: read
      id-token: write
    needs: ['release-linux-profiler-x86_64', 'release-linux-profiler-aarch64']
    runs-on: ubuntu-x64-small
    env:
      DOCKER_BUILDKIT: 1
      LIBC: ${{ matrix.name }}
      RELEASE_VERSION: ${{  github.ref_name }}
    strategy:
      matrix:
        name: ['glibc', 'musl']
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          submodules: 'true'
          persist-credentials: false
      - uses: grafana/shared-workflows/actions/get-vault-secrets@f5bed0079a15c2c2ebfec1a76fc3b8e646f7f892
        with:
          repo_secrets: |
            DOCKERHUB_USERNAME=dockerhub:user
            DOCKERHUB_PASSWORD=dockerhub:token
      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        name: Login to Docker Hub
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ env.DOCKERHUB_PASSWORD }}
      - run: make docker/manifest
      - name: Push latest manifest
        if: ${{ !contains(github.ref_name, '-rc') }}
        run: make docker/manifest-latest
