name: Build linux

on:
  push:
    tags:
      - v0.**-pyroscope

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'true'
      -
        name: Build docker image
        uses: docker/build-push-action@v3
        with:
          tags: test-image:latest
          push: false
          file: ./Pyroscope.Dockerfile
      - name: Build profiler
        uses: addnab/docker-run-action@v3
        with:
          image: test-image:latest
          options: -v ${{ github.workspace }}:/project
          run: |
            cd /project
            mkdir build-release
            cd build-release
            cmake .. -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_BUILD_TYPE=RelWithDebInfo
            make -j6 Datadog.Profiler.Native Datadog.Linux.ApiWrapper.x64

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ./profiler/_build/DDProf-Deploy/linux-x64/Datadog.Linux.ApiWrapper.x64.so
            ./profiler/_build/DDProf-Deploy/linux-x64/Datadog.Profiler.Native.so


