name: Release linux profiler

on:
  push:
    tags:
      - 'v*'
      - '!v*opentelemetry'
      - '!v*opentracing'
jobs:
  release-linux-profiler-x86_64:
    permissions:
      contents: write
      id-token: write
    runs-on: ubuntu-x64-large
    env:
      DOCKER_BUILDKIT: 1
      ARCH: x86_64
      LIBC: ${{ matrix.name }}
      RELEASE_VERSION: ${{  github.ref_name }}
    strategy:
      matrix:
        name: ['glibc', 'musl']
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          submodules: 'true'
          persist-credentials: false
      - uses: grafana/shared-workflows/actions/get-vault-secrets@10ecff5fcf764bfa768d7a52b46feaade9c8a95b
        with:
          repo_secrets: |
            DOCKERHUB_USERNAME=dockerhub:user
            DOCKERHUB_PASSWORD=dockerhub:token
      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        name: Login to Docker Hub
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ env.DOCKERHUB_PASSWORD }}
      - run: make bump_version && git diff --exit-code
      - run: make docker/build
      - run: make docker/push
      - run: make docker/archive
      - name: Release
        uses: softprops/action-gh-release@da05d552573ad5aba039eaac05058a918a7bf631 # v2.2.2
        with:
          files: ./*.tar.gz
  release-linux-profiler-aarch64:
    permissions:
      contents: write
      id-token: write
    runs-on: ubuntu-arm64-large
    env:
      DOCKER_BUILDKIT: 1
      ARCH: aarch64
      LIBC: ${{ matrix.name }}
      RELEASE_VERSION: ${{  github.ref_name }}
    strategy:
      matrix:
        name: ['glibc', 'musl']
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          submodules: 'true'
          persist-credentials: false
      - uses: grafana/shared-workflows/actions/get-vault-secrets@10ecff5fcf764bfa768d7a52b46feaade9c8a95b
        with:
          repo_secrets: |
            DOCKERHUB_USERNAME=dockerhub:user
            DOCKERHUB_PASSWORD=dockerhub:token
      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        name: Login to Docker Hub
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ env.DOCKERHUB_PASSWORD }}
      - run: make bump_version && git diff --exit-code
      - run: make docker/build
      - run: make docker/push
      - run: make docker/archive
      - name: Release
        uses: softprops/action-gh-release@da05d552573ad5aba039eaac05058a918a7bf631 # v2.2.2
        with:
          files: ./*.tar.gz
  release-linux-profiler:
    permissions:
      contents: read
      id-token: write
    needs: ['release-linux-profiler-x86_64', 'release-linux-profiler-aarch64']
    runs-on: ubuntu-x64-small
    env:
      DOCKER_BUILDKIT: 1
      LIBC: ${{ matrix.name }}
      RELEASE_VERSION: ${{  github.ref_name }}
    strategy:
      matrix:
        name: ['glibc', 'musl']
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          submodules: 'true'
          persist-credentials: false
      - uses: grafana/shared-workflows/actions/get-vault-secrets@10ecff5fcf764bfa768d7a52b46feaade9c8a95b
        with:
          repo_secrets: |
            DOCKERHUB_USERNAME=dockerhub:user
            DOCKERHUB_PASSWORD=dockerhub:token
      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        name: Login to Docker Hub
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ env.DOCKERHUB_PASSWORD }}
      - run: make docker/manifest
