name: Release OpenTracing library

on:
  push:
    tags:
      - v*-opentracing

permissions:
  contents: write
  id-token: write

jobs:
  release-opentracing-lib:
    runs-on: ubuntu-x64-small
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          submodules: 'true'
          persist-credentials: false
      - uses: actions/setup-dotnet@131b410979e0b49e2162c0718030257b22d6dc2c
        with:
          global-json-file: global.json
      - run: dotnet build -c Release ./Pyroscope.OpenTracing
        working-directory: Pyroscope/Pyroscope.OpenTracing
      - name: Publish NuGet packages
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: packages
          path: ./Pyroscope/artifacts/package/release
          if-no-files-found: error
      - uses: grafana/shared-workflows/actions/get-vault-secrets@41f9dbc20abb20607f34f7076c079e3e3c17d333
        with:
          repo_secrets: |
            NUGET_API_KEY=nuget:api_key
      - name: Publish the package to nuget.org
        run: dotnet nuget push ./Pyroscope/artifacts/package/release/*.nupkg -k "${NUGET_API_KEY}" -s https://api.nuget.org/v3/index.json
        env:
          NUGET_API_KEY: ${{ env.NUGET_API_KEY }}
      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ./Pyroscope/artifacts/bin/Pyroscope.OpenTracing/release/Pyroscope.OpenTracing.dll
            ./Pyroscope/artifacts/package/release/Pyroscope.OpenTracing*.nupkg
          make_latest: ${{ !contains(github.ref_name, '-rc') }}
