name: Release OpenTracing library

on:
  push:
    tags:
      - v*-opentracing

permissions:
  contents: write
  id-token: write

jobs:
  release-opentracing-lib:
    runs-on: ubuntu-x64-small
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          submodules: 'true'
          persist-credentials: false
      - uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309
        with:
          dotnet-version: '10.0.100'
      - run: dotnet build -c Release
        working-directory: Pyroscope/Pyroscope.OpenTracing
      - name: Publish NuGet packages
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: packages
          path: ./Pyroscope/artifacts/package/release
          if-no-files-found: error
      - uses: grafana/shared-workflows/actions/get-vault-secrets@ac5193564bb463032623a9a0ba23716f866f309c
        with:
          repo_secrets: |
            NUGET_API_KEY=nuget:api_key
      - name: Publish the package to nuget.org
        run: dotnet nuget push ./Pyroscope/artifacts/package/release/*.nupkg -k "${NUGET_API_KEY}" -s https://api.nuget.org/v3/index.json
        env:
          NUGET_API_KEY: ${{ env.NUGET_API_KEY }}
      - name: Release
        uses: softprops/action-gh-release@da05d552573ad5aba039eaac05058a918a7bf631 # v2.2.2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ./Pyroscope/artifacts/bin/Pyroscope.OpenTracing/release/Pyroscope.OpenTracing.dll
            ./Pyroscope/artifacts/package/release/Pyroscope.OpenTracing*.nupkg
