name: Release linux profiler

on:
  push:
    tags:
      - v*-pyroscope

jobs:
  release-linux-profiler-glibc:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
    strategy:
      matrix:
        include:
          - name: glibc
            dockerfile: Pyroscope.Dockerfile
          - name: musl
            dockerfile: Pyroscope.musl.Dockerfile
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'true'
      - name: Set env
        run: |
          echo "RELEASE_VERSION=$(echo $GITHUB_REF | grep -oP '(?<=refs/tags/v).*(?=-pyroscope)')" >> $GITHUB_ENV
      - uses: docker/login-action@v2
        name: Login to Docker Hub
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build in Docker
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/pyroscope-dotnet:${RELEASE_VERSION}-${{ matrix.name }} -f ${{ matrix.dockerfile }} .
      - name: Create tar archive
        run: docker build -f ${{ matrix.dockerfile }} -o out.${{ matrix.name }} . && tar -czvf pyroscope.${{ matrix.name }}.tar.gz -C out.${{ matrix.name }} .
      - name: Docker push
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/pyroscope-dotnet:${RELEASE_VERSION}-${{ matrix.name }}
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: ./pyroscope.${{ matrix.name }}.tar.gz
