name: Release OpenTelemetry library

on:
  push:
    tags:
      - v*-opentelemetry

permissions:
  contents: write

jobs:
  release-opentelemetry-lib:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'true'
          persist-credentials: false
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '6.0'
      - run: dotnet build -c Release
        working-directory: Pyroscope/Pyroscope.OpenTelemetry
      - name: Publish the package to nuget.org
        run: dotnet nuget push bin/Release/*.nupkg -k $NUGET_AUTH_TOKEN -s https://api.nuget.org/v3/index.json
        working-directory: Pyroscope/Pyroscope.OpenTelemetry
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.NUGET_API_KEY }}
      - name: Release
        uses: softprops/action-gh-release@da05d552573ad5aba039eaac05058a918a7bf631 # v2.2.2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ./Pyroscope/Pyroscope.OpenTelemetry/bin/Release/net6.0/Pyroscope.OpenTelemetry.dll
            ./Pyroscope/Pyroscope.OpenTelemetry/bin/Release/Pyroscope.OpenTelemetry*.nupkg
